WebControl/flows.json
[{"id":"ee3edd0.7ce0f2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aa1ef8b5.2ff0f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e6246003.8d1a7","type":"ui_group","z":"","name":"Properties","tab":"aa1ef8b5.2ff0f8","order":5,"disp":true,"width":6,"collapse":true},{"id":"8de1af3c.a5105","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":56,"sy":35,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c9e9da2b.76aa48","type":"ui_group","z":"","name":"Tracker","tab":"aa1ef8b5.2ff0f8","order":1,"disp":true,"width":6,"collapse":true},{"id":"8d5bff65.9aa67","type":"ui_group","z":"","name":"Display","tab":"aa1ef8b5.2ff0f8","order":4,"disp":true,"width":6,"collapse":true},{"id":"e3845446.3e6488","type":"ui_group","z":"","name":"Focus","tab":"aa1ef8b5.2ff0f8","order":2,"disp":true,"width":6,"collapse":true},{"id":"e5634a10.07dc98","type":"ui_group","z":"","name":"Position","tab":"aa1ef8b5.2ff0f8","order":3,"disp":true,"width":6,"collapse":true},{"id":"9cec3694.8c1cd8","type":"ui_spacer","name":"spacer","group":"e5634a10.07dc98","order":1,"width":2,"height":1},{"id":"808e1900.881228","type":"ui_spacer","name":"spacer","group":"e5634a10.07dc98","order":3,"width":2,"height":1},{"id":"b87f5748.826e38","type":"ui_spacer","name":"spacer","group":"e5634a10.07dc98","order":4,"width":2,"height":1},{"id":"e45759b9.67bfe8","type":"ui_spacer","name":"spacer","group":"e5634a10.07dc98","order":6,"width":2,"height":1},{"id":"929d419d.d8254","type":"ui_spacer","name":"spacer","group":"e5634a10.07dc98","order":7,"width":2,"height":1},{"id":"c6822379.06877","type":"ui_spacer","name":"spacer","group":"e5634a10.07dc98","order":9,"width":2,"height":1},{"id":"a3466e8e.841ea","type":"debug","z":"ee3edd0.7ce0f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1690,"y":480,"wires":[]},{"id":"e55fcec0.40903","type":"ui_slider","z":"ee3edd0.7ce0f2","name":"Brightness","label":"","tooltip":"","group":"e6246003.8d1a7","order":2,"width":6,"height":1,"passthru":true,"outs":"all","topic":"Brightness","min":0,"max":"100","step":1,"x":470,"y":240,"wires":[["40b18882.ac3268","48aa53e5.45898c"]]},{"id":"40b18882.ac3268","type":"function","z":"ee3edd0.7ce0f2","name":"Payload Merger","func":"msg.payload = msg.topic + \"=\" + msg.payload + \";\";\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":480,"wires":[["a3466e8e.841ea","7ece76f9.e55fd8"]]},{"id":"31864367.3db14c","type":"ui_slider","z":"ee3edd0.7ce0f2","name":"Contrast","label":"","tooltip":"","group":"e6246003.8d1a7","order":4,"width":6,"height":1,"passthru":true,"outs":"all","topic":"Contrast","min":0,"max":"100","step":1,"x":460,"y":340,"wires":[["40b18882.ac3268","6581ec70.145484"]]},{"id":"daeff4df.552fc8","type":"ui_slider","z":"ee3edd0.7ce0f2","name":"Saturation","label":"","tooltip":"","group":"e6246003.8d1a7","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Saturation","min":0,"max":"100","step":1,"x":470,"y":440,"wires":[["40b18882.ac3268","be3bf4a9.9ff1f8"]]},{"id":"c9d4d979.198ba8","type":"ui_slider","z":"ee3edd0.7ce0f2","name":"Gain","label":"","tooltip":"","group":"e6246003.8d1a7","order":8,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Gain","min":0,"max":"100","step":1,"x":450,"y":540,"wires":[["e92970b2.5e7e9","40b18882.ac3268"]]},{"id":"20eaa3a6.3b1a7c","type":"ui_slider","z":"ee3edd0.7ce0f2","name":"Exposure","label":"","tooltip":"","group":"e6246003.8d1a7","order":10,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Exposure","min":"-1","max":"100","step":1,"x":460,"y":640,"wires":[["d46d0f0d.6cc45","40b18882.ac3268"]]},{"id":"48aa53e5.45898c","type":"ui_text","z":"ee3edd0.7ce0f2","group":"e6246003.8d1a7","order":1,"width":6,"height":1,"name":"","label":"Brightness","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":200,"wires":[]},{"id":"6581ec70.145484","type":"ui_text","z":"ee3edd0.7ce0f2","group":"e6246003.8d1a7","order":3,"width":6,"height":1,"name":"","label":"Contrast","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":300,"wires":[]},{"id":"be3bf4a9.9ff1f8","type":"ui_text","z":"ee3edd0.7ce0f2","group":"e6246003.8d1a7","order":5,"width":6,"height":1,"name":"","label":"Saturation","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":400,"wires":[]},{"id":"e92970b2.5e7e9","type":"ui_text","z":"ee3edd0.7ce0f2","group":"e6246003.8d1a7","order":7,"width":6,"height":1,"name":"","label":"Gain","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":500,"wires":[]},{"id":"d46d0f0d.6cc45","type":"ui_text","z":"ee3edd0.7ce0f2","group":"e6246003.8d1a7","order":9,"width":6,"height":1,"name":"","label":"Exposure","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":600,"wires":[]},{"id":"edde62cf.a7c36","type":"ui_text","z":"ee3edd0.7ce0f2","group":"e6246003.8d1a7","order":11,"width":6,"height":1,"name":"","label":"Fps","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":700,"wires":[]},{"id":"8ccd8a2c.31af88","type":"ui_slider","z":"ee3edd0.7ce0f2","name":"Fps","label":"","tooltip":"","group":"e6246003.8d1a7","order":12,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Fps","min":"1","max":"30","step":1,"x":450,"y":740,"wires":[["edde62cf.a7c36","40b18882.ac3268"]]},{"id":"d40b8953.90cce8","type":"ui_dropdown","z":"ee3edd0.7ce0f2","name":"Resolution","label":"","tooltip":"","place":"Resolution","group":"e6246003.8d1a7","order":13,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"640x480","type":"str"},{"label":"","value":"960x720","type":"str"},{"label":"","value":"1280x960","type":"str"}],"payload":"","topic":"Resolution","x":470,"y":140,"wires":[["40b18882.ac3268"]]},{"id":"7ece76f9.e55fd8","type":"tcp out","z":"ee3edd0.7ce0f2","host":"localhost","port":"51717","beserver":"client","base64":false,"end":false,"name":"Tracker","x":1700,"y":300,"wires":[]},{"id":"c2d0b2ec.56e72","type":"base64","z":"ee3edd0.7ce0f2","name":"Encode","action":"","property":"payload","x":900,"y":60,"wires":[["c1641089.fbed9"]]},{"id":"2859c75c.a71ec8","type":"multipart-decoder","z":"ee3edd0.7ce0f2","name":"","ret":"bin","url":"http://localhost:52717","tls":"","delay":0,"maximum":"10000000","blockSize":"1","x":670,"y":60,"wires":[["c2d0b2ec.56e72"]]},{"id":"2587bb7a.720d94","type":"status","z":"ee3edd0.7ce0f2","name":"Connection status","scope":["7ece76f9.e55fd8"],"x":170,"y":60,"wires":[["e30cd9d5.92dca8"]]},{"id":"e30cd9d5.92dca8","type":"function","z":"ee3edd0.7ce0f2","name":"Connected check","func":"if (msg.status.text==\"common.status.connected\")\n{\n    msg.payload = \"Connected\";\n    msg.url = \"http://localhost:52717\";\n}\nelse\n{\n    msg.payload = \"Disconnected\";\n    msg.stop = true;\n}\n//var connection_status=msg.payload;\n//global.set('connection_status',connection_status);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["2859c75c.a71ec8","a5285383.d2d0b","69319f5.52c906","3caf6876.02faf8","29b2dfde.4eb4f","2c778cb9.bac8e4","c62d4f6.1e0d7b","8b238ea2.eb38f","c3b66bbf.eedfb8"]]},{"id":"c1641089.fbed9","type":"ui_template","z":"ee3edd0.7ce0f2","group":"8d5bff65.9aa67","name":"Display stream","order":1,"width":6,"height":7,"format":"<img width=\"1280\" height=\"960\" src=\"data:image/jpg;base64,{{msg.payload}}\"></img>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1160,"y":60,"wires":[[]]},{"id":"a5285383.d2d0b","type":"function","z":"ee3edd0.7ce0f2","name":"Init resolution","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"640x480\";\n}\nelse\n{\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":140,"wires":[["d40b8953.90cce8"]]},{"id":"9ee95394.1eb75","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Start Tracker","group":"c9e9da2b.76aa48","order":1,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"green","icon":"fa-power-off","payload":"Start tracker","payloadType":"str","topic":"","x":940,"y":780,"wires":[["906df9c1.0b84f8"]]},{"id":"18c9b8e5.834887","type":"daemon","z":"ee3edd0.7ce0f2","name":"Start tracker app","command":"/usr/bin/sudo","args":"/home/pi/Programme/Tracker/tracker","autorun":false,"cr":false,"redo":false,"op":"string","closer":"SIGTERM","x":1350,"y":780,"wires":[["a3466e8e.841ea"],["a3466e8e.841ea"],[]]},{"id":"906df9c1.0b84f8","type":"function","z":"ee3edd0.7ce0f2","name":"Set start","func":"if (msg.payload==\"Start tracker\")\n{\n    msg.start = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":780,"wires":[["18c9b8e5.834887"]]},{"id":"69319f5.52c906","type":"function","z":"ee3edd0.7ce0f2","name":"Init brightness","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"50\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":240,"wires":[["e55fcec0.40903"]]},{"id":"44518c65.f68744","type":"ui_button","z":"ee3edd0.7ce0f2","name":"End tracker","group":"c9e9da2b.76aa48","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"orange","icon":"fa-power-off","payload":"end","payloadType":"str","topic":"Tracker","x":950,"y":600,"wires":[["40b18882.ac3268"]]},{"id":"3caf6876.02faf8","type":"function","z":"ee3edd0.7ce0f2","name":"Init contrast","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"50\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":340,"wires":[["31864367.3db14c"]]},{"id":"29b2dfde.4eb4f","type":"function","z":"ee3edd0.7ce0f2","name":"Init saturation","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"50\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":440,"wires":[["daeff4df.552fc8"]]},{"id":"2c778cb9.bac8e4","type":"function","z":"ee3edd0.7ce0f2","name":"Init gain","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"50\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":540,"wires":[["c9d4d979.198ba8"]]},{"id":"c62d4f6.1e0d7b","type":"function","z":"ee3edd0.7ce0f2","name":"Init exposure","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"-1\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":640,"wires":[["20eaa3a6.3b1a7c"]]},{"id":"8b238ea2.eb38f","type":"function","z":"ee3edd0.7ce0f2","name":"Init fps","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"10\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":740,"wires":[["8ccd8a2c.31af88"]]},{"id":"bb8d1a0f.e93ad8","type":"ui_switch","z":"ee3edd0.7ce0f2","name":"Video or Camera","label":"","tooltip":"","group":"8d5bff65.9aa67","order":2,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Picture","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-video-camera","oncolor":"white","offvalue":"false","offvalueType":"str","officon":"fa-camera","offcolor":"white","x":750,"y":140,"wires":[["40b18882.ac3268"]]},{"id":"95778ca9.e138b","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Focus run left","group":"e3845446.3e6488","order":1,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-fast-backward","payload":"left","payloadType":"str","topic":"Focusrun","x":760,"y":280,"wires":[["40b18882.ac3268"]]},{"id":"54601f1f.d10be","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Focus run right","group":"e3845446.3e6488","order":2,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-fast-forward","payload":"right","payloadType":"str","topic":"Focusrun","x":760,"y":320,"wires":[["40b18882.ac3268"]]},{"id":"d7557420.bd9488","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Focus step left","group":"e3845446.3e6488","order":3,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-step-backward","payload":"left","payloadType":"str","topic":"Focusstep","x":760,"y":360,"wires":[["40b18882.ac3268"]]},{"id":"ce805629.335198","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Focus step right","group":"e3845446.3e6488","order":4,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-step-forward","payload":"right","payloadType":"str","topic":"Focusstep","x":760,"y":400,"wires":[["40b18882.ac3268"]]},{"id":"cb52af4c.0f87e","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Pos up","group":"e5634a10.07dc98","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-arrow-up","payload":"up","payloadType":"str","topic":"Position","x":1040,"y":140,"wires":[["40b18882.ac3268"]]},{"id":"f46301b4.b238d","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Pos down","group":"e5634a10.07dc98","order":8,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-arrow-down","payload":"down","payloadType":"str","topic":"Position","x":1040,"y":180,"wires":[["40b18882.ac3268"]]},{"id":"a0a02b86.542558","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Pos left","group":"e5634a10.07dc98","order":10,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-arrow-left","payload":"left","payloadType":"str","topic":"Position","x":1040,"y":260,"wires":[["40b18882.ac3268"]]},{"id":"7653923a.c940dc","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Pos right","group":"e5634a10.07dc98","order":12,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-arrow-right","payload":"right","payloadType":"str","topic":"Position","x":1040,"y":300,"wires":[["40b18882.ac3268"]]},{"id":"471161df.ca3ea","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Pos stop UD","group":"e5634a10.07dc98","order":5,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-stop","payload":"stopud","payloadType":"str","topic":"Position","x":1030,"y":220,"wires":[["40b18882.ac3268"]]},{"id":"492a2b7d.ea44a4","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Pos stop LR","group":"e5634a10.07dc98","order":11,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-stop","payload":"stoplr","payloadType":"str","topic":"Position","x":1030,"y":340,"wires":[["40b18882.ac3268"]]},{"id":"a5768518.9d3d88","type":"ui_slider","z":"ee3edd0.7ce0f2","name":"Pos speed","label":"","tooltip":"","group":"e5634a10.07dc98","order":14,"width":6,"height":1,"passthru":true,"outs":"all","topic":"Positionspeed","min":"1","max":"9","step":1,"x":1230,"y":180,"wires":[["40b18882.ac3268","3166e99c.528a46"]]},{"id":"3166e99c.528a46","type":"ui_text","z":"ee3edd0.7ce0f2","group":"e5634a10.07dc98","order":13,"width":6,"height":1,"name":"","label":"Speed","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":140,"wires":[]},{"id":"c3b66bbf.eedfb8","type":"function","z":"ee3edd0.7ce0f2","name":"Init speed","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"1\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":100,"wires":[["a5768518.9d3d88"]]},{"id":"a631e0c6.3eec1","type":"ui_switch","z":"ee3edd0.7ce0f2","name":"Mobile or Desktop","label":"","tooltip":"","group":"8d5bff65.9aa67","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Display","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-mobile","oncolor":"white","offvalue":"false","offvalueType":"str","officon":"fa-desktop","offcolor":"white","x":750,"y":220,"wires":[["40b18882.ac3268"]]},{"id":"dc318b4d.b91888","type":"ui_switch","z":"ee3edd0.7ce0f2","name":"Track region","label":"","tooltip":"","group":"c9e9da2b.76aa48","order":6,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Tracker","style":"","onvalue":"init","onvalueType":"str","onicon":"fa-square","oncolor":"white","offvalue":"deinit","offvalueType":"str","officon":"fa-square-o","offcolor":"white","x":950,"y":640,"wires":[["40b18882.ac3268"]]},{"id":"6f2f5781.b0a088","type":"ui_switch","z":"ee3edd0.7ce0f2","name":"Tracking","label":"","tooltip":"","group":"c9e9da2b.76aa48","order":5,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Tracker","style":"","onvalue":"run","onvalueType":"str","onicon":"fa-flag","oncolor":"white","offvalue":"stop","offvalueType":"str","officon":"fa-location-arrow","offcolor":"white","x":960,"y":680,"wires":[["40b18882.ac3268"]]},{"id":"68beb229.bcc01c","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Shutdown System","group":"c9e9da2b.76aa48","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"red","icon":"fa-power-off","payload":"Shutdown system","payloadType":"str","topic":"","x":930,"y":840,"wires":[["41737d9d.79d214"]]},{"id":"41737d9d.79d214","type":"function","z":"ee3edd0.7ce0f2","name":"Set shutdown","func":"if (msg.payload==\"Shutdown system\")\n{\n    msg.start = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":840,"wires":[["2dae0516.a9824a"]]},{"id":"2dae0516.a9824a","type":"daemon","z":"ee3edd0.7ce0f2","name":"Shutdown system","command":"/usr/bin/sudo","args":"shutdown -h now","autorun":false,"cr":false,"redo":false,"op":"string","closer":"SIGTERM","x":1350,"y":840,"wires":[["a3466e8e.841ea"],["a3466e8e.841ea"],[]]},{"id":"72f428b3.928ec8","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Control object","group":"c9e9da2b.76aa48","order":4,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#333333","icon":"fa-dot-circle-o","payload":"ctrl","payloadType":"str","topic":"Tracker","x":940,"y":720,"wires":[["40b18882.ac3268"]]},{"id":"1cd2a50e.a4897b","type":"ui_button","z":"ee3edd0.7ce0f2","name":"Record Video","group":"8d5bff65.9aa67","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#333333","icon":"fa-file-video-o","payload":"record","payloadType":"str","topic":"Picture","x":760,"y":180,"wires":[["40b18882.ac3268"]]}]