WebControl/flows.json
[{"id":"c5774fa4.c5ac2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dbea6f49.dc1c3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fc0395c5.417108","type":"ui_group","z":"","name":"Properties","tab":"dbea6f49.dc1c3","order":5,"disp":true,"width":6,"collapse":true},{"id":"b7f67320.873e5","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":56,"sy":35,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b8a721e6.ed1e8","type":"ui_group","z":"","name":"Tracker","tab":"dbea6f49.dc1c3","order":1,"disp":true,"width":6,"collapse":true},{"id":"5e748744.b58e38","type":"ui_group","z":"","name":"Display","tab":"dbea6f49.dc1c3","order":2,"disp":true,"width":6,"collapse":true},{"id":"56094fff.dc174","type":"ui_group","z":"","d":true,"name":"Focus","tab":"dbea6f49.dc1c3","order":4,"disp":true,"width":"6","collapse":true},{"id":"232b1057.8a8e7","type":"ui_group","z":"","d":true,"name":"Position","tab":"dbea6f49.dc1c3","order":3,"disp":true,"width":"6","collapse":true},{"id":"faea9f48.dabc3","type":"ui_group","z":"","name":"Goto","tab":"dbea6f49.dc1c3","order":6,"disp":true,"width":"6","collapse":true},{"id":"457fc768.cd22b","type":"ui_spacer","name":"spacer","group":"232b1057.8a8e7","order":3,"width":2,"height":1},{"id":"12738dd5.3fcc42","type":"ui_spacer","name":"spacer","group":"232b1057.8a8e7","order":4,"width":2,"height":1},{"id":"a2ab11eb.ac3698","type":"ui_spacer","name":"spacer","group":"232b1057.8a8e7","order":6,"width":2,"height":1},{"id":"76b5978d.63f25","type":"ui_spacer","name":"spacer","group":"232b1057.8a8e7","order":7,"width":2,"height":1},{"id":"aec1a0f6.0fd76","type":"ui_spacer","name":"spacer","group":"232b1057.8a8e7","order":9,"width":2,"height":1},{"id":"821dd639.acf568","type":"debug","z":"c5774fa4.c5ac2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1750,"y":480,"wires":[]},{"id":"8a394c65.2d1b8","type":"ui_slider","z":"c5774fa4.c5ac2","name":"Brightness","label":"","tooltip":"","group":"fc0395c5.417108","order":2,"width":6,"height":1,"passthru":true,"outs":"all","topic":"Brightness","min":0,"max":"100","step":1,"x":470,"y":240,"wires":[["b77bcf7f.07265","77a73500.1f6a9c"]]},{"id":"b77bcf7f.07265","type":"function","z":"c5774fa4.c5ac2","name":"Payload Merger","func":"msg.payload = msg.topic + \"=\" + msg.payload + \";\";\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":480,"wires":[["821dd639.acf568","6eb523e.24a2fdc"]]},{"id":"6fe33aa5.d36b24","type":"ui_slider","z":"c5774fa4.c5ac2","name":"Contrast","label":"","tooltip":"","group":"fc0395c5.417108","order":4,"width":6,"height":1,"passthru":true,"outs":"all","topic":"Contrast","min":0,"max":"100","step":1,"x":460,"y":340,"wires":[["b77bcf7f.07265","46a34686.84c4c8"]]},{"id":"2dca6beb.781a54","type":"ui_slider","z":"c5774fa4.c5ac2","name":"Saturation","label":"","tooltip":"","group":"fc0395c5.417108","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Saturation","min":0,"max":"100","step":1,"x":470,"y":440,"wires":[["b77bcf7f.07265","64d944ac.55833c"]]},{"id":"7b8d7c73.cc8ac4","type":"ui_slider","z":"c5774fa4.c5ac2","name":"Gain","label":"","tooltip":"","group":"fc0395c5.417108","order":8,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Gain","min":0,"max":"100","step":1,"x":450,"y":540,"wires":[["82c7a341.f898f","b77bcf7f.07265"]]},{"id":"73e1c44b.da100c","type":"ui_slider","z":"c5774fa4.c5ac2","name":"Exposure","label":"","tooltip":"","group":"fc0395c5.417108","order":10,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Exposure","min":"-1","max":"100","step":1,"x":460,"y":640,"wires":[["13658feb.e2d0c","b77bcf7f.07265"]]},{"id":"77a73500.1f6a9c","type":"ui_text","z":"c5774fa4.c5ac2","group":"fc0395c5.417108","order":1,"width":6,"height":1,"name":"","label":"Brightness","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":200,"wires":[]},{"id":"46a34686.84c4c8","type":"ui_text","z":"c5774fa4.c5ac2","group":"fc0395c5.417108","order":3,"width":6,"height":1,"name":"","label":"Contrast","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":300,"wires":[]},{"id":"64d944ac.55833c","type":"ui_text","z":"c5774fa4.c5ac2","group":"fc0395c5.417108","order":5,"width":6,"height":1,"name":"","label":"Saturation","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":400,"wires":[]},{"id":"82c7a341.f898f","type":"ui_text","z":"c5774fa4.c5ac2","group":"fc0395c5.417108","order":7,"width":6,"height":1,"name":"","label":"Gain","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":500,"wires":[]},{"id":"13658feb.e2d0c","type":"ui_text","z":"c5774fa4.c5ac2","group":"fc0395c5.417108","order":9,"width":6,"height":1,"name":"","label":"Exposure","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":600,"wires":[]},{"id":"2e83e17f.14861e","type":"ui_text","z":"c5774fa4.c5ac2","group":"fc0395c5.417108","order":11,"width":6,"height":1,"name":"","label":"Fps","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":700,"wires":[]},{"id":"8e5e0967.e29408","type":"ui_slider","z":"c5774fa4.c5ac2","name":"Fps","label":"","tooltip":"","group":"fc0395c5.417108","order":12,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Fps","min":"1","max":"30","step":1,"x":450,"y":740,"wires":[["2e83e17f.14861e","b77bcf7f.07265"]]},{"id":"9620906e.642fe","type":"ui_dropdown","z":"c5774fa4.c5ac2","name":"Resolution","label":"","tooltip":"","place":"Resolution","group":"fc0395c5.417108","order":13,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"640x480","type":"str"},{"label":"","value":"960x720","type":"str"},{"label":"","value":"1280x960","type":"str"}],"payload":"","topic":"Resolution","x":470,"y":140,"wires":[["b77bcf7f.07265"]]},{"id":"6eb523e.24a2fdc","type":"tcp out","z":"c5774fa4.c5ac2","host":"localhost","port":"51717","beserver":"client","base64":false,"end":false,"name":"Tracker","x":1740,"y":320,"wires":[]},{"id":"b6fcc24c.b7943","type":"base64","z":"c5774fa4.c5ac2","name":"Encode","action":"","property":"payload","x":900,"y":60,"wires":[["b4c69120.6b6e7"]]},{"id":"f64f0a8c.bb36a8","type":"multipart-decoder","z":"c5774fa4.c5ac2","name":"","ret":"bin","url":"http://localhost:52717","tls":"","delay":0,"maximum":"10000000","blockSize":"1","x":670,"y":60,"wires":[["b6fcc24c.b7943"]]},{"id":"7c83aa78.e40204","type":"status","z":"c5774fa4.c5ac2","name":"Connection status","scope":["6eb523e.24a2fdc"],"x":170,"y":60,"wires":[["585533a5.db571c"]]},{"id":"585533a5.db571c","type":"function","z":"c5774fa4.c5ac2","name":"Connected check","func":"if (msg.status.text==\"common.status.connected\")\n{\n    msg.payload = \"Connected\";\n    msg.url = \"http://localhost:52717\";\n}\nelse\n{\n    msg.payload = \"Disconnected\";\n    msg.stop = true;\n}\n//var connection_status=msg.payload;\n//global.set('connection_status',connection_status);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["f64f0a8c.bb36a8","e335f21f.6918","e902964d.e0bd98","be1b0071.597d1","3dd913d9.62eb2c","7651cfeb.b0e98","c8530507.efa6c8","58c8e3ce.3c233c","2edf1c8b.f5c2f4","f489eef.325d71","1311d40a.a22404","bec600fe.2b037"]]},{"id":"b4c69120.6b6e7","type":"ui_template","z":"c5774fa4.c5ac2","group":"5e748744.b58e38","name":"Display stream","order":1,"width":6,"height":7,"format":"<img width=\"1280\" height=\"960\" src=\"data:image/jpg;base64,{{msg.payload}}\"></img>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1160,"y":60,"wires":[[]]},{"id":"e335f21f.6918","type":"function","z":"c5774fa4.c5ac2","name":"Init resolution","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"1280x960\";\n}\nelse\n{\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":140,"wires":[["9620906e.642fe"]]},{"id":"f6f9b542.1f01b8","type":"ui_button","z":"c5774fa4.c5ac2","name":"Start Tracker","group":"b8a721e6.ed1e8","order":1,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"green","icon":"fa-power-off","payload":"Start tracker","payloadType":"str","topic":"","x":940,"y":780,"wires":[["3402d073.0b41e"]]},{"id":"fbe4c1dc.5533f","type":"daemon","z":"c5774fa4.c5ac2","name":"Start tracker app","command":"/usr/bin/sudo","args":"/home/pi/Programme/Telescope/Tracker/tracker","autorun":false,"cr":false,"redo":false,"op":"string","closer":"SIGTERM","x":1350,"y":780,"wires":[["821dd639.acf568"],["821dd639.acf568"],[]]},{"id":"3402d073.0b41e","type":"function","z":"c5774fa4.c5ac2","name":"Set start","func":"if (msg.payload==\"Start tracker\")\n{\n    msg.start = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":780,"wires":[["fbe4c1dc.5533f"]]},{"id":"e902964d.e0bd98","type":"function","z":"c5774fa4.c5ac2","name":"Init brightness","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"50\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":240,"wires":[["8a394c65.2d1b8"]]},{"id":"6f921965.b4d1a8","type":"ui_button","z":"c5774fa4.c5ac2","name":"End tracker","group":"b8a721e6.ed1e8","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"orange","icon":"fa-power-off","payload":"end","payloadType":"str","topic":"Tracker","x":950,"y":600,"wires":[["b77bcf7f.07265"]]},{"id":"be1b0071.597d1","type":"function","z":"c5774fa4.c5ac2","name":"Init contrast","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"50\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":340,"wires":[["6fe33aa5.d36b24"]]},{"id":"3dd913d9.62eb2c","type":"function","z":"c5774fa4.c5ac2","name":"Init saturation","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"50\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":440,"wires":[["2dca6beb.781a54"]]},{"id":"7651cfeb.b0e98","type":"function","z":"c5774fa4.c5ac2","name":"Init gain","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"50\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":540,"wires":[["7b8d7c73.cc8ac4"]]},{"id":"c8530507.efa6c8","type":"function","z":"c5774fa4.c5ac2","name":"Init exposure","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"-1\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":640,"wires":[["73e1c44b.da100c"]]},{"id":"58c8e3ce.3c233c","type":"function","z":"c5774fa4.c5ac2","name":"Init fps","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"10\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":740,"wires":[["8e5e0967.e29408"]]},{"id":"a3ac1c66.cbb9c","type":"ui_switch","z":"c5774fa4.c5ac2","d":true,"name":"Video or Camera","label":"","tooltip":"","group":"","order":2,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Picture","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-video-camera","oncolor":"white","offvalue":"false","offvalueType":"str","officon":"fa-camera","offcolor":"white","x":630,"y":880,"wires":[[]]},{"id":"7d61c90c.8d34a8","type":"ui_button","z":"c5774fa4.c5ac2","name":"Focus run left","group":"56094fff.dc174","order":2,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-fast-backward","payload":"left","payloadType":"str","topic":"Focusrun","x":760,"y":280,"wires":[["b77bcf7f.07265"]]},{"id":"de957e00.d2f2a","type":"ui_button","z":"c5774fa4.c5ac2","name":"Focus run right","group":"56094fff.dc174","order":3,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-fast-forward","payload":"right","payloadType":"str","topic":"Focusrun","x":760,"y":320,"wires":[["b77bcf7f.07265"]]},{"id":"99e87674.9f38e8","type":"ui_button","z":"c5774fa4.c5ac2","name":"Focus step left","group":"56094fff.dc174","order":4,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-step-backward","payload":"left","payloadType":"str","topic":"Focusstep","x":760,"y":360,"wires":[["b77bcf7f.07265"]]},{"id":"9e7ca9e.2bdb158","type":"ui_button","z":"c5774fa4.c5ac2","name":"Focus step right","group":"56094fff.dc174","order":5,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-step-forward","payload":"right","payloadType":"str","topic":"Focusstep","x":760,"y":400,"wires":[["b77bcf7f.07265"]]},{"id":"3c748759.ba72d8","type":"ui_button","z":"c5774fa4.c5ac2","name":"Pos up","group":"232b1057.8a8e7","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-arrow-up","payload":"up","payloadType":"str","topic":"Position","x":1040,"y":140,"wires":[["b77bcf7f.07265"]]},{"id":"cd83d5f0.538208","type":"ui_button","z":"c5774fa4.c5ac2","name":"Pos down","group":"232b1057.8a8e7","order":8,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-arrow-down","payload":"down","payloadType":"str","topic":"Position","x":1040,"y":180,"wires":[["b77bcf7f.07265"]]},{"id":"39367992.497166","type":"ui_button","z":"c5774fa4.c5ac2","name":"Pos left","group":"232b1057.8a8e7","order":10,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-arrow-left","payload":"left","payloadType":"str","topic":"Position","x":1040,"y":260,"wires":[["b77bcf7f.07265"]]},{"id":"56f18545.31b55c","type":"ui_button","z":"c5774fa4.c5ac2","name":"Pos right","group":"232b1057.8a8e7","order":12,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-arrow-right","payload":"right","payloadType":"str","topic":"Position","x":1040,"y":300,"wires":[["b77bcf7f.07265"]]},{"id":"804e33df.93a3c","type":"ui_button","z":"c5774fa4.c5ac2","name":"Pos stop UD","group":"232b1057.8a8e7","order":5,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-stop","payload":"stopud","payloadType":"str","topic":"Position","x":1030,"y":220,"wires":[["b77bcf7f.07265"]]},{"id":"535e090c.704bc8","type":"ui_button","z":"c5774fa4.c5ac2","name":"Pos stop LR","group":"232b1057.8a8e7","order":11,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#555555","icon":"fa-stop","payload":"stoplr","payloadType":"str","topic":"Position","x":1030,"y":340,"wires":[["b77bcf7f.07265"]]},{"id":"eb866c71.40f8","type":"ui_slider","z":"c5774fa4.c5ac2","name":"Pos speed","label":"","tooltip":"","group":"232b1057.8a8e7","order":14,"width":6,"height":1,"passthru":true,"outs":"all","topic":"Positionspeed","min":"1","max":"9","step":1,"x":1230,"y":180,"wires":[["b77bcf7f.07265","80cb1470.a58f98"]]},{"id":"80cb1470.a58f98","type":"ui_text","z":"c5774fa4.c5ac2","group":"232b1057.8a8e7","order":13,"width":6,"height":1,"name":"","label":"Speed","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":140,"wires":[]},{"id":"2edf1c8b.f5c2f4","type":"function","z":"c5774fa4.c5ac2","name":"Init speed","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"1\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":100,"wires":[["eb866c71.40f8"]]},{"id":"e0f43e9d.dfce8","type":"ui_switch","z":"c5774fa4.c5ac2","name":"Mobile or Desktop","label":"","tooltip":"","group":"5e748744.b58e38","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Display","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-mobile","oncolor":"white","offvalue":"false","offvalueType":"str","officon":"fa-desktop","offcolor":"white","x":750,"y":220,"wires":[["b77bcf7f.07265"]]},{"id":"e0c4bc5d.ff2e","type":"ui_switch","z":"c5774fa4.c5ac2","d":true,"name":"Track region","label":"","tooltip":"","group":"5e748744.b58e38","order":9,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Tracker","style":"","onvalue":"init","onvalueType":"str","onicon":"fa-square","oncolor":"white","offvalue":"deinit","offvalueType":"str","officon":"fa-square-o","offcolor":"white","x":950,"y":640,"wires":[["b77bcf7f.07265"]]},{"id":"b8c83572.38a6e8","type":"ui_switch","z":"c5774fa4.c5ac2","d":true,"name":"Tracking","label":"","tooltip":"","group":"5e748744.b58e38","order":8,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Tracker","style":"","onvalue":"run","onvalueType":"str","onicon":"fa-flag","oncolor":"white","offvalue":"stop","offvalueType":"str","officon":"fa-location-arrow","offcolor":"white","x":960,"y":680,"wires":[["b77bcf7f.07265"]]},{"id":"7f6bec4f.4f26a4","type":"ui_button","z":"c5774fa4.c5ac2","name":"Shutdown System","group":"b8a721e6.ed1e8","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"red","icon":"fa-power-off","payload":"Shutdown system","payloadType":"str","topic":"","x":930,"y":840,"wires":[["3153c5ee.afaa6a"]]},{"id":"3153c5ee.afaa6a","type":"function","z":"c5774fa4.c5ac2","name":"Set shutdown","func":"if (msg.payload==\"Shutdown system\")\n{\n    msg.start = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":840,"wires":[["dcc6c88.daf7f38"]]},{"id":"dcc6c88.daf7f38","type":"daemon","z":"c5774fa4.c5ac2","name":"Shutdown system","command":"/usr/bin/sudo","args":"shutdown -h now","autorun":false,"cr":false,"redo":false,"op":"string","closer":"SIGTERM","x":1350,"y":840,"wires":[["821dd639.acf568"],["821dd639.acf568"],[]]},{"id":"2781ee37.153032","type":"ui_button","z":"c5774fa4.c5ac2","d":true,"name":"Control object","group":"5e748744.b58e38","order":7,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#333333","icon":"fa-dot-circle-o","payload":"ctrl","payloadType":"str","topic":"Tracker","x":940,"y":720,"wires":[["b77bcf7f.07265"]]},{"id":"4bad76c4.761538","type":"ui_button","z":"c5774fa4.c5ac2","name":"Record Video","group":"5e748744.b58e38","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#333333","icon":"fa-file-video-o","payload":"record","payloadType":"str","topic":"Picture","x":760,"y":180,"wires":[["b77bcf7f.07265"]]},{"id":"764b8435.5809fc","type":"ui_button","z":"c5774fa4.c5ac2","name":"Take Picture","group":"5e748744.b58e38","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#333333","icon":"fa-camera","payload":"true","payloadType":"str","topic":"Picture","x":770,"y":140,"wires":[["b77bcf7f.07265"]]},{"id":"8368517d.9a127","type":"ui_switch","z":"c5774fa4.c5ac2","name":"Focus auto","label":"","tooltip":"","group":"56094fff.dc174","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"Focusauto","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-stop","oncolor":"white","offvalue":"false","offvalueType":"str","officon":"fa-exchange","offcolor":"white","x":770,"y":440,"wires":[["b77bcf7f.07265"]]},{"id":"2ab46b16.3c6964","type":"ui_slider","z":"c5774fa4.c5ac2","name":"Zoom","label":"","tooltip":"","group":"5e748744.b58e38","order":6,"width":6,"height":1,"passthru":true,"outs":"all","topic":"Zoom","min":"1","max":"9","step":1,"x":450,"y":840,"wires":[["b77bcf7f.07265","697a6899.a3a4c8"]]},{"id":"f489eef.325d71","type":"function","z":"c5774fa4.c5ac2","name":"Init zoom","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"1\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":840,"wires":[["2ab46b16.3c6964"]]},{"id":"697a6899.a3a4c8","type":"ui_text","z":"c5774fa4.c5ac2","group":"5e748744.b58e38","order":5,"width":6,"height":1,"name":"","label":"Zoom","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":800,"wires":[]},{"id":"9040c9ed.53d868","type":"ui_switch","z":"c5774fa4.c5ac2","name":"Pos select","label":"Select","tooltip":"","group":"232b1057.8a8e7","order":1,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Positionsel","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1030,"y":380,"wires":[["b77bcf7f.07265"]]},{"id":"828abcc7.006","type":"ui_text_input","z":"c5774fa4.c5ac2","name":"","label":"North (gg° mm' ss'' or gg.dd)","tooltip":"","group":"faea9f48.dabc3","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":1140,"y":940,"wires":[["7b78e0ed.ef211"]]},{"id":"3afee544.2ed902","type":"ui_text_input","z":"c5774fa4.c5ac2","name":"","label":"East (gg° mm' ss'' or gg.dd)","tooltip":"","group":"faea9f48.dabc3","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":1140,"y":980,"wires":[["a9bf51c8.47e37"]]},{"id":"a9bf51c8.47e37","type":"function","z":"c5774fa4.c5ac2","name":"LocEastGrad2Dec","func":"// Eingabe: msg.payload = \"48° 12' 30\\\"\"\n// oder msg.payload = \"48.123\" (wenn nur Grad mit Dezimalstellen eingegeben werden)\n\nlet input = msg.payload;\nlet decimalDegrees = 0;\n\nif (input.includes(\"°\")) {\n    // Format: Grad° Minuten' Sekunden\"\n    let parts = input.split(/[°'\\\"]/);\n    let degrees = parseFloat(parts[0]);\n    let minutes = parseFloat(parts[1] || 0);\n    let seconds = parseFloat(parts[2] || 0);\n\n    if (!isNaN(degrees) && !isNaN(minutes) && !isNaN(seconds)) {\n        decimalDegrees = degrees + (minutes / 60) + (seconds / 3600);\n    }\n} else {\n    // Format: Grad mit Dezimalstellen\n    decimalDegrees = parseFloat(input);\n}\n\n\nif (!isNaN(decimalDegrees)) {\n    let locEDec = Number(decimalDegrees.toFixed(7));\n    msg.topic = \"LocE\";\n    msg.payload = locEDec;\n    //msg.payload = \"Loce=\" + locEDec + \";\";\nreturn msg;\n    return msg;\n} else {\n    // Fehlerbehandlung, wenn die Eingabe ungültig ist\n    node.error(\"Ungültige Eingabe: \" + input, msg);\n    return null; // Nachricht wird verworfen oder eine Fehlerbehandlung wird ausgelöst.\n}","outputs":1,"noerr":0,"x":1410,"y":980,"wires":[["b77bcf7f.07265"]]},{"id":"3571713d.1667b6","type":"ui_text","z":"c5774fa4.c5ac2","group":"faea9f48.dabc3","order":1,"width":0,"height":0,"name":"Location","label":"Location","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":900,"wires":[]},{"id":"1311d40a.a22404","type":"function","z":"c5774fa4.c5ac2","name":"Init North","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"48.6737098\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":900,"y":940,"wires":[["828abcc7.006"]]},{"id":"bec600fe.2b037","type":"function","z":"c5774fa4.c5ac2","name":"Init East","func":"if (msg.payload==\"Connected\")\n{\n    msg.payload = \"9.9368240\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":980,"wires":[["3afee544.2ed902"]]},{"id":"e9ab3752.1c38e","type":"ui_text","z":"c5774fa4.c5ac2","group":"faea9f48.dabc3","order":4,"width":0,"height":0,"name":"Orientation","label":"Orientation","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":1040,"wires":[]},{"id":"a9e75a.5bc0f8a8","type":"ui_text_input","z":"c5774fa4.c5ac2","name":"","label":"Azm (gg°)","tooltip":"","group":"faea9f48.dabc3","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"GotoOrAzm","x":1080,"y":1080,"wires":[["b77bcf7f.07265"]]},{"id":"7b78e0ed.ef211","type":"function","z":"c5774fa4.c5ac2","name":"LocNorthGrad2Dec","func":"// Eingabe: msg.payload = \"48° 12' 30\\\"\"\n// oder msg.payload = \"48.123\" (wenn nur Grad mit Dezimalstellen eingegeben werden)\n\nlet input = msg.payload;\nlet decimalDegrees = 0;\n\nif (input.includes(\"°\")) {\n    // Format: Grad° Minuten' Sekunden\"\n    let parts = input.split(/[°'\\\"]/);\n    let degrees = parseFloat(parts[0]);\n    let minutes = parseFloat(parts[1] || 0);\n    let seconds = parseFloat(parts[2] || 0);\n\n    if (!isNaN(degrees) && !isNaN(minutes) && !isNaN(seconds)) {\n        decimalDegrees = degrees + (minutes / 60) + (seconds / 3600);\n    }\n} else {\n    // Format: Grad mit Dezimalstellen\n    decimalDegrees = parseFloat(input);\n}\n\n\nif (!isNaN(decimalDegrees)) {\n    let locNDec = Number(decimalDegrees.toFixed(7));\n    msg.topic = \"LocN\";\n    msg.payload = locNDec;\n    //msg.payload = \"Locn=\" + locNDec + \";\";\nreturn msg;\n    return msg;\n} else {\n    // Fehlerbehandlung, wenn die Eingabe ungültig ist\n    node.error(\"Ungültige Eingabe: \" + input, msg);\n    return null; // Nachricht wird verworfen oder eine Fehlerbehandlung wird ausgelöst.\n}","outputs":1,"noerr":0,"x":1410,"y":940,"wires":[["b77bcf7f.07265"]]},{"id":"8bce3052.9fd44","type":"ui_text_input","z":"c5774fa4.c5ac2","name":"","label":"Alt (gg°)","tooltip":"","group":"faea9f48.dabc3","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"GotoOrAlt","x":1080,"y":1120,"wires":[["b77bcf7f.07265"]]},{"id":"92349a6d.54ece","type":"file in","z":"c5774fa4.c5ac2","name":"Catalog","filename":"/home/pi/Programme/Telescope/Tracker/messier_ngc_ic_catalog.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":1160,"y":1220,"wires":[["a8d351b5.7bc1e"]]},{"id":"64e0d0c6.b179d8","type":"ui_text_input","z":"c5774fa4.c5ac2","name":"Enter object","label":"Enter object","tooltip":"","group":"faea9f48.dabc3","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"Object","x":1150,"y":1260,"wires":[["a8d351b5.7bc1e"]]},{"id":"5208fe2d.598498","type":"ui_button","z":"c5774fa4.c5ac2","name":"Search catalog","group":"faea9f48.dabc3","order":9,"width":0,"height":0,"passthru":false,"label":"Search catalog","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":940,"y":1220,"wires":[["92349a6d.54ece"]]},{"id":"a8d351b5.7bc1e","type":"function","z":"c5774fa4.c5ac2","name":"Find object","func":"let obj = \"\";\nlet row = \"\";\n\nif( msg.topic == \"Object\")\n{\n    if(msg.payload.includes(\"Moon\"))\n    {\n        msg.topic = \"GotoObj1\";\n        msg.payload = \"Moon\";\n        return [msg,null];\n    }\n    else\n    if(msg.payload.includes(\"Mars\"))\n    {\n        msg.topic = \"GotoObj1\";\n        msg.payload = \"Mars\";\n        return [msg,null];\n    }\n    else\n    if(msg.payload.includes(\"Jupiter\"))\n    {\n        msg.topic = \"GotoObj1\";\n        msg.payload = \"Jupiter\";\n        return [msg,null];\n    }\n    else\n    if(msg.payload.includes(\"Saturn\"))\n    {\n        msg.topic = \"GotoObj1\";\n        msg.payload = \"Saturn\";\n        return [msg,null];\n    }\n    else\n    {\n        flow.set('skyObj',msg.payload);\n    }\n}\n\nobj = flow.get('skyObj');\n\nif( msg.payload.includes(obj) )\n{\n    if( msg.topic != \"Object\")\n    {\n        row = msg.payload;\n        //node.warn();\n        msg.payload = row;\n        return [null,msg];\n    }\n}\n\n","outputs":2,"noerr":0,"x":1350,"y":1220,"wires":[["b77bcf7f.07265","da60e658.391f48"],["db0eeb1e.0c8e5","da60e658.391f48"]]},{"id":"da60e658.391f48","type":"ui_text","z":"c5774fa4.c5ac2","group":"faea9f48.dabc3","order":10,"width":"6","height":"2","name":"Found entry","label":"","format":"{{msg.payload}}","layout":"col-center","x":1550,"y":1220,"wires":[]},{"id":"f5d61517.8d13f","type":"ui_text","z":"c5774fa4.c5ac2","group":"faea9f48.dabc3","order":7,"width":0,"height":0,"name":"Sky object","label":"Sky object","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":1180,"wires":[]},{"id":"db0eeb1e.0c8e5","type":"function","z":"c5774fa4.c5ac2","name":"Extract","func":"let row = \"\";\nrow = msg.payload;\nlet substr = row.split(\",\");\n//node.warn();\nmsg.topic = \"GotoObj2\";\nmsg.payload = substr[1] + \",\" + substr[2];\n//msg.payload = \"Object=\" + substr[1] + \",\" + substr[2] + \";\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1360,"y":1280,"wires":[["b77bcf7f.07265"]]}]